<section class="">
  <div class="bg-gray-100 h-screen">
    <div
      id="dynamic-content"
      class="grid lg:grid-cols-4 md:grid-cols-2 gap-2 pt-10"
    >
      <!-- <div class="bg-[white] mx-auto text-left w-[20rem] shad rounded-md p-6">
        <h1 class="font-semibold text-2xl">Content Title</h1>
        <div class="flex justify-between">
          <div class="mt-2 text-sm">
            <span class="text-gray-400">Address</span>
            <span class="text-gray-400">Date created</span>
          </div>
          <div>
            <h1
              class="border border-blue-800 rounded-lg text-[white] bg-[#13344C] inline-block mx-2 my-2 py-2 px-3"
            >
              Service
            </h1>
          </div>
        </div>
        <p class="py-2 h-16">Description</p>
        <div class="flex justify-between">
          <button
            class="px-4 my-4 lg:my-0 rounded-full bg-blue-400 text-white py-3 border border-[blue] hover:ring-2 hover:ring-blue-500 hover:border-transparent transition duration-300"
          >
            Accept
          </button>
          <button
            class="px-4 my-4 lg:my-0 rounded-full py-3 border border-[red] bg-[#FEEDF0] text-[red] hover:ring-2 hover:ring-red-500 hover:border-transparent transition duration-300"
          >
            Reject
          </button>
        </div>
      </div> -->
    </div>
  </div>
</section>
