

<body class="">
  <nav class="nav-section h-[10vh] bg-white shadow-md py-2 md:py-4 md:px-10 z-10">
      <div
        class="nav-container h-full mx-auto sm:px-10 lg:px-1  flex flex-row justify-between items-center"
      >
        <!-- Logo -->
        <div class="logo flex items-center">
          <span class="text-orange-500 font-bold text-2xl">Swift</span
          ><span class="text-blue-600 font-semibold text-2xl">Sewa</span>
        </div>

        <!-- Location Selector and Profile Icon -->
        <div class="flex items-center space-x-4 ">
      
           <button
              type="button"
              class="flex items-center md:px-4 py-5 dropdown-toggle"
              id="user-button" onclick="toggleDropdown()"
              
            >
            <figure class="  w-8 h-8 ">
              <img
                class=" rounded-full w-full h-full object-contain"
                src="/images/user/img-02.jpg"
                alt="Header Avatar"
              />
            </figure>
              <span class="hidden fw-medium xl:block dark:text-gray-50 ml-4"
                >Bijen</span
              >
            </button>
        </div>
      </div>

      <div
        class="dropdown-menu lg:w-[10%] absolute right-0 mt-4 bg-white rounded-md shadow-lg z-20 hidden"
      ><hr>
          <a
          href="/#/profile"
          class="block text-center  text-orange-500 px-4 py-2 m-2 rounded hover:bg-cyan-200"
        >
          View Profile
        </a>

         <a
          href="/#/"
          class="block text-center lg: text-orange-500 px-4 py-2 m-2 rounded hover:bg-cyan-200"
        >
         logout
        </a>
      </div>
    </nav>
  <div class="text-white relative">
    <div class="bg-[url('/public/images/supplier/landingPage.jpg')] w-full bg-cover bg-center h-[45rem] bg-fixed relative">
      <div class="text-center bg-black bg-opacity-80 h-full flex items-center justify-center">
        <div class="md:w-[75%] mx-auto px-4 lg:px-0">
          <p class="uppercase text-2xl">START TODAY</p>
          <h1 class="text-[#FEC427] text-5xl md:text-6xl lg:text-7xl mt-8 font-bold w-full">Swift Sewa Services</h1>
          <h1 class="text-[#FEC427] text-5xl md:text-6xl lg:text-7xl my-8 font-bold w-full">World Class Comprehensive</h1>
          <p class="text-md md:text-lg lg:text-xl w-[80%] mx-auto">
            Delivering top-tier plumbing, electrical, and home maintenance solutions with a commitment to quality, reliability, and customer satisfaction. Your one-stop service provider for all home and commercial maintenance needs.
          </p>
          <Link to="product" smooth={true} duration={1000}>
            <button class="uppercase p-3 px-9 border border-white mt-6 text-sm hover:bg-white hover:text-black duration-300">Register</button>
          </Link>

          <ul class="flex flex-col lg:flex-row lg:text-2xl font-semibold my-16  justify-evenly space-y-4 lg:space-y-0">
            <li class='hover:text-[yellow]'>Plumber</li>
            <li class='hover:text-[yellow]'>AC Service</li>
            <li class='hover:text-[yellow]'>Electrician</li>
            <li class='hover:text-[yellow]'>Carpenter</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-black bg-white container my-16 lg:px-32">
      <div class="lg:flex gap-[10rem]">
        <div class="md:w-full lg:w-[60%]">
          <h1 class="text-6xl font-semibold ">Companies working with Us</h1>
          <p class="py-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Nullam euismod, ipsum a dictum pretium, lacus risus tempor nisi, nec fermentum ipsum nisi sit amet justo. Integer euismod quam sed urna tincidunt, id interdum quam placerat.</p>
          <button class="rounded-full p-4 px-8 bg-yellow-400 hover:bg-black hover:text-white">View</button>
        </div>
        <div class="mt-4 lg:mt-0">
          <img src="/public/images/supplier/Companies.avif" class="w-full md:w-[50rem] lg:w-[45rem] rounded-sm" />
        </div>
      </div>
    </div>

    <section>
      <div class="border-gray-200 mb-8  border" ></div> 
      <footer class="container mx-auto rounded-lg shadow">
        <div class="w-full p-4 md:py-8">
          <div class="sm:flex sm:items-center sm:justify-between">
            <span class="flex items-center mb-4 sm:mb-0 space-x-3">
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                <span class="text-orange-500">Swift</span>
                <span class="text-blue-500">Sewa</span>
              </span>
            </span>
            <p class="text-gray-500">Connecting you with reliable service providers for all your needs</p>
          </div>
          <span class="block text-sm text-gray-500 sm:text-center">© <span id="year"></span> <a href="#" class="hover:underline">SwiftSewa</a>. All Rights Reserved.</span>
        </div>
      </footer>
    </section>
  </div>
</body>
