<body class="bg-orange-100 flex justify-center items-center min-h-screen">
  <section class="user-profile w-full h-full flex justify-center">
    <div
      class="profile-container bg-black h-[100vh] w-[80vw] flex rounded-lg overflow-hidden shadow-lg"
    >
      <div class="w-1/2 h-full bg-red-600 flex flex-col items-center">
        <figure class="w-full h-2/5">
          <img
            src="https://res.cloudinary.com/dy1ou7jjj/image/upload/v1722075563/images/billmollaa.jpg.jpg"
            alt="Company Image"
            class="w-full h-full object-cover"
          />
        </figure>
        <section class="w-full profile-section p-4">
          <ul>
            <li class="list flex justify-between text-white text-lg p-2">
              <span class="label">Name:</span>
              <span class="name">The madads</span>
            </li>
            <li class="list flex justify-between text-white text-lg p-2">
              <span class="label">Address:</span>
              <span class="address">The madads</span>
            </li>
            <li class="list flex justify-between text-white text-lg p-2">
              <span class="label">Phone:</span>
              <span class="phone">The madads</span>
            </li>

            <li class="list flex justify-between text-white text-lg p-2">
              <span class="label">Opening Time:</span>
              <span class="openingTime">10:00 AM</span>
            </li>

            <li class="list flex justify-between text-white text-lg p-2">
              <span class="label">Closing Time:</span>
              <span class="closingTime">10:00 PM</span>
            </li>

            <li class="list flex justify-between text-white text-lg p-2">
              <span class="label">Status:</span>
              <span class="status">Active</span>
            </li>
          </ul>
        </section>
      </div>
      <div class="w-full h-full bg-gray-800 p-4 flex flex-col">
        <div class="category-section mb-8">
          <h2 class="text-white text-2xl p-2 border-b border-gray-600">
            Category
          </h2>
          <ul class="mt-4">
            <li class="list flex justify-between text-white text-lg px-6 py-3">
              <span class="label">Name:</span>
              <span class="category-name">The madads</span>
            </li>
            <li class="list flex justify-between text-white text-lg px-6">
              <span class="label">Description:</span>
              <span class="category-description">The madads</span>
            </li>
          </ul>
        </div>

        <div class="services-section">
          <h2 class="text-white text-2xl p-2 border-b border-gray-600">
            Services
          </h2>
          <ul class="mt-4">
            <li class="services-list"></li>
          </ul>
        </div>
        <button
          id="update-button"
          type="button"
          class="text-white max-w-32 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Update
        </button>
        <button
          id="save-button"
          type="button"
          class="text-white max-w-32 bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800 hidden"
        >
          Save
        </button>
      </div>
    </div>
  </section>
</body>
