/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
  display: none;
}

.block {
  display: block;
}

.navbar-burger {
  cursor: pointer;
}

.registration-form {
  position: relative;
}
.registration-form .submit-btn {
  border-radius: 0.5rem;
}

.registration-form .form-control,
.registration-form .choices[data-type*="select-one"] .choices__inner {
  border-radius: 0.5rem;
}

.filter-search-form {
  border-width: 0px;
  border-color: rgb(204 206 214 / 0.5);
}
:is([data-mode="dark"] .filter-search-form) {
  border-color: rgb(116 120 141 / 0.2);
}

.filter-input-box,
.form-select,
.filter-search-form .choices__inner {
  height: 60px;
  border-style: none;
  padding-top: 1rem;
  padding-bottom: 15px;
  font-size: 0.938rem;
}
:is([dir="ltr"] .filter-input-box),
:is([dir="ltr"] .form-select),
:is([dir="ltr"] .filter-search-form .choices__inner) {
  padding-right: 6px;
  padding-left: 38px;
}
:is([dir="rtl"] .filter-input-box),
:is([dir="rtl"] .form-select),
:is([dir="rtl"] .filter-search-form .choices__inner) {
  padding-left: 6px;
  padding-right: 38px;
}
@media (min-width: 1140px) {
  :is([dir="ltr"] .filter-input-box),
  :is([dir="ltr"] .form-select),
  :is([dir="ltr"] .filter-search-form .choices__inner) {
    border-radius: 0px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  :is([dir="rtl"] .filter-input-box),
  :is([dir="rtl"] .form-select),
  :is([dir="rtl"] .filter-search-form .choices__inner) {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
.filter-input-box,
.form-select,
.filter-search-form .choices__inner {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
:is([data-mode="dark"] .filter-input-box) {
  --tw-bg-opacity: 1;
  background-color: rgb(46 53 64 / var(--tw-bg-opacity));
}
.treding-keywords li a {
  --tw-text-opacity: 1;
  color: rgb(116 120 141 / var(--tw-text-opacity));
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.treding-keywords li a:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.filter-search-form .form-select {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
:is([data-mode="dark"] .filter-search-form .form-select) {
  --tw-bg-opacity: 1;
  background-color: rgb(46 53 64 / var(--tw-bg-opacity));
}

.swiper-pagination .swiper-pagination-bullet {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(129 93 242 / var(--tw-bg-opacity));
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

[data-theme-color="violet"] .swiper-pagination .swiper-pagination-bullet {
  --tw-bg-opacity: 1;
  background-color: rgb(129 93 242 / var(--tw-bg-opacity));
}
[data-theme-color="sky"] .swiper-pagination .swiper-pagination-bullet {
  --tw-bg-opacity: 1;
  background-color: rgb(95 208 243 / var(--tw-bg-opacity));
}
[data-theme-color="red"] .swiper-pagination .swiper-pagination-bullet {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
[data-theme-color="green"] .swiper-pagination .swiper-pagination-bullet {
  --tw-bg-opacity: 1;
  background-color: rgb(4 133 101 / var(--tw-bg-opacity));
}
[data-theme-color="blue"] .swiper-pagination .swiper-pagination-bullet {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 1.75rem;
}

/* .dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 1rem;
  width: 12rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #1a202c;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f7fafc;
} */
